/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/*  typography */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

p, .paragraph {
    font-weight: 400;
    color: #333;
    font-size: 16px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 50px;
    font-weight: 800;
}

@media (max-width: 575px) {
    h1, .h1 {
        font-size: 36px;
        font-weight: 600;
    }
}

h2, .h2 {
    font-size: 42px;
    font-weight: 800;
}

@media (max-width: 575px) {
    h2, .h2 {
        font-size: 32px;
        font-weight: 600;
    }
}

h3, .h3 {
    font-size: 32px;
}

@media (max-width: 575px) {
    h3, .h3 {
        font-size: 28px;
    }
}

h4, .h4 {
    font-size: 26px;
}

h5, .h5 {
    font-size: 22px;
}

h6, .h6 {
    font-size: 18px;
}

.up-left-animation {
    animation: up_left 15s ease-in infinite alternate-reverse;
}

.rotate_back-animation {
    animation: rotate_back 10s ease-in infinite alternate-reverse;
}

.up-down-animation {
    animation: up_down 3s ease-in infinite alternate-reverse;
}

.left-right-animation {
    animation: left_right 3s ease-in infinite alternate-reverse;
}

@keyframes up_down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes left_right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes up_left {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(-20px,-20px,0);
    }
}

@keyframes rotate_back {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(-0);
    }
}

/* Button style */
.btn {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    padding: 13px 30px;
    border-radius: 6px;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
    font-weight: 600;
}

    .btn:hover, .btn:active, .btn:focus {
        outline: 0;
        box-shadow: none !important;
    }

.btn-sm {
    font-size: 14px;
    padding: 10px 25px;
}

.btn-primary {
    background: #00DFBF;
    color: #fff;
    border-color: #00DFBF;
}

    .btn-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary.active {
        background: #375A64 !important;
        border-color: #375A64 !important;
    }

.btn-outline-primary {
    background: transparent;
    color: #00DFBF;
    border-color: #00DFBF;
}

    .btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.focus, .btn-outline-primary.active {
        background: #00DFBF !important;
        border-color: #00DFBF !important;
        color: #fff;
    }

body {
    background-color: #fff;
    overflow-x: hidden;
}

::-moz-selection {
    background: #00DFBF;
    color: #fff;
}

::selection {
    background: #00DFBF;
    color: #fff;
}

/* preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
}

    img .logo {
        vertical-align: middle;
        border: 0;
        max-width: 200px;
        height: auto;
    }

ul {
    list-style: none;
}

a {
    color: inherit;
}

    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }

a,
button,
select {
    cursor: pointer;
    transition: 0.2s ease;
}

    a:focus,
    button:focus,
    select:focus {
        outline: 0;
    }

    a:hover {
        color: #00DFBF;
    }

.slick-slide {
    outline: 0;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-sm {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    margin-bottom: 40px;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.border-default {
    border-color: #E2E2E2 !important;
}

/* overlay */
.overlay {
    position: relative;
}

    .overlay::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.5;
    }

.outline-0 {
    outline: 0 !important;
}

.rounded, .card-icon, .card {
    border-radius: 12px !important;
}

.shadow, .card, .search-wrapper .form-control, .navigation.nav-bg {
    box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
}

.d-unset {
    display: unset !important;
}

.bg-primary {
    background: #00DFBF !important;
}

.bg-secondary {
    --bs-bg-opacity: 2;
    background: #375A64 !important;
}

.text-primary {
    color: #00DFBF !important;
}

.text-secondary {
    color: #375A64 !important;
}

.text-light {
    color: #999 !important;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #00DFBF;
}

.nav-link:hover {
    color: #00DFBF;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.zindex-1 {
    z-index: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.font-weight-medium {
    font-weight: 500;
}

.navigation {
    transition: 0.2s ease;
}

    .navigation.nav-bg {
        background: #fff;
    }

@media (max-width: 991px) {
    .navigation .form-inline {
        width: 100%;
    }

        .navigation .form-inline input {
            width: 100%;
        }
}

input[type="checkbox"]:after {
    line-height: 1.5em;
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -3px;
    margin-left: -3px;
    border: 1px solid #EEEEEE;
    border-radius: 0px;
    background: #fff;
    line-height: 1.3;
}

input[type="checkbox"]:checked:after {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #7571f9;
    font-weight: 100;
    text-align: center;
}

.form-check-label {
    margin-left: 5px;
}

.form-check-inline .form-check-input {
    margin-right: 0.625rem;
}

.asColorPicker-dropdown {
    max-width: 260px;
}

.asColorPicker-trigger {
    border: 0 none;
    height: 38px;
    position: absolute;
    right: -35px;
    top: 0;
    width: 37px;
}

.asColorPicker-clear {
    display: none;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 5px;
}

.daterangepicker td.active {
    background-color: #1976d2;
}

    .daterangepicker td.active:hover {
        background-color: #1976d2;
    }

.datepicker table tr td.today {
    background: #1976d2 none repeat scroll 0 0;
    color: #ffffff;
}

    .datepicker table tr td.today:hover {
        background: #1976d2 none repeat scroll 0 0;
        color: #ffffff;
    }

    .datepicker table tr td.today.disabled {
        background: #1976d2 none repeat scroll 0 0;
        color: #ffffff;
    }

        .datepicker table tr td.today.disabled:hover {
            background: #1976d2 none repeat scroll 0 0;
            color: #ffffff;
        }

.datepicker td {
    padding: 5px 10px;
}

.datepicker th {
    padding: 5px 10px;
}

.wizard > .content > .body input.error {
    position: absolute;
    top: 100% !important;
}

.wizard {
    position: relative;
}

    .wizard > .steps {
        width: 100%;
        padding-left: 3%;
    }

@media (min-width: 1200px) {
    .wizard > .steps {
        width: 60%;
        margin-left: 3%;
    }
}

.wizard > .steps li.current a {
    background-color: #7571f9;
    color: #fff;
}

.wizard > .steps li.disabled a, .wizard > .steps li.done a {
    background-color: #fff;
    color: #333;
}

    .wizard > .steps li.disabled a:hover, .wizard > .steps li.done a:hover {
        margin: 0;
        background-color: #fff;
        border-radius: 0;
        color: #333;
    }

.wizard > .steps li a {
    text-align: center;
    margin: 0;
    border-radius: 0;
    background-color: #fff;
}

    .wizard > .steps li a:hover {
        margin: 0;
        background-color: #fff;
        border-radius: 0;
        color: #333;
    }

.cta-section {
    margin-bottom: -80px;
}

.cta-2 {
    background: url("../images/bg/cta-bg.png") no-repeat;
    background-position: center center;
}

.cta-page {
    background: url("../images/bg/banner.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.testimonial {
    position: relative;
}

    .testimonial:before {
        width: 48%;
        height: 100%;
        top: 0;
        left: 0px;
        position: absolute;
        content: "";
        background: url("../images/bg/bg-2.jpg") no-repeat 50% 50%;
    }

    .testimonial .slick-dots {
        text-align: left;
    }

.testimonial-block {
    position: relative;
    margin-bottom: 20px;
}

    .testimonial-block p {
        background: #fff;
        font-size: 18px;
    }

    .testimonial-block .client-info {
        margin-bottom: 20px;
    }

        .testimonial-block .client-info h4 {
            margin-bottom: 0px;
        }

    .testimonial-block i {
        font-size: 60px;
        position: absolute;
        right: 46px;
        bottom: 89px;
        opacity: 0.08;
    }

    .testimonial-block .slick-dots {
        text-align: left;
    }

.testimonial-wrap-2 .slick-dots {
    margin-left: -10px;
}

.testimonial-block.style-2 {
    background: #fff;
    padding: 30px;
    margin: 0px 4px;
    margin-bottom: 30px;
}

    .testimonial-block.style-2 .testimonial-thumb {
        float: left;
    }

        .testimonial-block.style-2 .testimonial-thumb img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            margin-right: 20px;
            margin-bottom: 30px;
            border: 5px solid #eff0f3;
            margin-top: -5px;
        }

    .testimonial-block.style-2 .client-info p {
        clear: both;
        background: transparent;
    }

    .testimonial-block.style-2 i {
        bottom: -20px;
        color: #e12454;
        opacity: 0.3;
    }

@media only screen and (max-width: 767px) {
    .wizard > .steps li a {
        padding: 1em 4px;
    }
}

.wizard > .steps li a .number {
    display: none;
}

.wizard .content {
    min-height: 18.75rem;
    margin: 0;
}

@media only screen and (max-width: 991px) {
    .wizard .content {
        min-height: 26rem;
    }
}

.wizard .content > .body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

@media only screen and (max-width: 575px) {
    .wizard .content > .body {
        padding: 0;
    }
}

.wizard .content > .body .form-control {
    background-color: #F7FAFC;
    border: 1px solid #EEEEEE;
}

.wizard .content > .body input.error {
    position: relative;
}

.wizard .content > .body label.error {
    position: absolute;
    top: 100%;
    margin-left: 0;
}

.wizard > .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
}

    .wizard > .actions li:not(.disabled) a {
        background-color: #7571f9;
        color: #fff;
    }

.wizard .actions ul li.disabled a {
    color: #333333 !important;
    background: #F7FAFC !important;
    border: 1px solid #EEEEEE;
}

.wizard .actions ul li a {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 0.55em 2em;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    padding: 0.55em 2em;
}

@media (max-width: 680px) {
    .wizard > .steps > ul > li {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 680px) {
    .wizard > .steps {
        padding-left: 0;
    }
}

.wizard > .content {
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.wizard, .tabcontrol {
    overflow: visible;
}

@media only screen and (max-width: 575px) {
    .step-form-tab .wizard .steps li {
        width: 50%;
    }
}

.step-form-tab .wizard .steps li:not(.current) a {
    background-color: #EEEEEE;
    color: #7571f9;
}

.step-form-tab .wizard .steps li.current a {
    background-color: #7571f9;
}

.step-form-tab .wizard .steps li.done a {
    background-color: rgba(117, 113, 249, 0.5);
    color: #7571f9;
}

.step-form-tab .wizard .steps li:last-child a {
    margin-right: 0;
}

.step-form-tab .wizard .steps li:first-child a {
    margin-left: 0;
}

@media only screen and (max-width: 575px) {
    .step-form-tab .wizard .steps li a {
        margin: 0 0.5em 0.5em;
    }

        .step-form-tab .wizard .steps li a:hover {
            padding: 1em 4px;
        }
}

.step-form-vertical .wizard.vertical > .steps {
    width: 27%;
}

@media only screen and (max-width: 767px) {
    .step-form-vertical .wizard.vertical > .steps li a {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 575px) {
    .step-form-vertical .wizard.vertical > .steps li a {
        padding: .5rem;
    }
}

.step-form-vertical .wizard.vertical > .steps li:not(.current) a {
    background-color: #EEEEEE;
    color: #7571f9;
}

.step-form-vertical .wizard.vertical > .steps li.current a {
    background-color: #7571f9;
}

.step-form-vertical .wizard.vertical > .steps li.done a {
    background-color: rgba(117, 113, 249, 0.5);
    color: #7571f9;
}

.step-form-vertical .wizard.vertical > .content {
    width: 73%;
    margin: 0;
}

    .step-form-vertical .wizard.vertical > .content > .body {
        padding: 0 8rem;
    }

@media only screen and (max-width: 575px) {
    .step-form-vertical .wizard.vertical > .content > .body {
        padding: 1rem;
    }
}

.step-form-vertical .wizard.vertical > .actions {
    padding: 0 8rem;
}

@media only screen and (max-width: 575px) {
    .step-form-vertical .wizard.vertical > .actions {
        padding: 0;
    }
}

.note-icon-caret,
.note-popover {
    display: none;
}

.note-editor.note-frame .panel-heading {
    padding: 6px 10px 10px;
}

.datamaps-hoverover {
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}

#world-map {
    height: 400px !important;
}

.table td {
    line-height: 1.2;
    vertical-align: middle;
}

.table td,
.table th {
    border-color: #f3f3f3;
}

.table thead th {
    border-bottom: none;
    border-top: none;
    vertical-align: middle;
}

.verticle-middle tr td {
    vertical-align: middle;
}

.header-border thead tr th {
    border: 0 solid rgba(120, 130, 140, 0.13);
    font-weight: 700;
}

.nav-item {
    margin: 0;
}

    .nav-item .nav-link {
        text-transform: capitalize;
    }

.navbar-light .navbar-nav .nav-link {
    color: #222;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #00DFBF;
    }

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
    font-size: 15px;
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px;
        display: block;
    }
}

.search-wrapper {
    position: relative;
}

    .search-wrapper .form-control {
        height: 46px;
        border: 0;
        outline: 0;
    }

        .search-wrapper .form-control::-moz-placeholder {
            color: #999;
            font-size: 15px;
        }

        .search-wrapper .form-control::placeholder {
            color: #999;
            font-size: 15px;
        }

    .search-wrapper .form-control-lg {
        height: 70px;
    }

    .search-wrapper .form-control.active.focus-visible {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .search-wrapper button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

        .search-wrapper button i {
            color: #00DFBF;
        }

.card {
    transition: 0.2s ease;
    border: 0;
}

.card-lg .card-body {
    padding: 35px;
}

.card-icon {
    background: #00DFBF;
    color: #fff;
    height: 55px;
    width: 60px;
    line-height: 55px;
    text-align: center;
    font-size: 27px;
    display: block;
    margin-top: 40px;
}

.card-text {
    margin-bottom: 0;
}

.card-title {
    font-weight: 700;
}

.card-body {
    padding: 25px;
}

.card:hover {
    box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.2) !important;
}

.social-icons {
    margin-bottom: 0;
}

    .social-icons a {
        display: block;
        height: 42px;
        width: 42px;
        line-height: 42px;
        text-align: center;
        color: #fff;
        background: #00DFBF;
        border-radius: 6px;
    }

.footer-menu {
    margin-bottom: 0;
}

    .footer-menu a {
        display: block;
        padding: 10px;
        color: #333;
        transition: 0.2s ease;
    }

        .footer-menu a:hover {
            color: #00DFBF;
        }

/* sidenav */
.sidenav {
    border-right: 1px solid #E2E2E2;
    padding-right: 20px;
}

    .sidenav ul {
        padding-left: 10px;
    }

    .sidenav > li a {
        padding: 20px 0;
        color: #222;
        display: block;
        font-size: 18px;
        font-weight: 500;
    }

    .sidenav > li:not(:last-child) {
        border-bottom: 1px solid #E2E2E2;
    }

    .sidenav .sidelist ul {
        display: none;
    }

    .sidenav .parent > a {
        color: #00DFBF !important;
        position: relative;
        margin-left: 10px;
    }

        .sidenav .parent > a::before {
            position: absolute;
            content: "";
            left: -10px;
            top: 25%;
            height: 50%;
            width: 1px;
            background: #00DFBF;
        }

    .sidenav .parent ul {
        display: block;
        margin-bottom: 10px;
    }

        .sidenav .parent ul a {
            padding: 5px 0;
            font-size: 14px;
            font-weight: 400;
            color: #222;
        }

        .sidenav .parent ul li.active > a {
            margin-left: 10px;
        }

            .sidenav .parent ul li.active > a::before {
                height: 5px;
                width: 5px;
                border-radius: 50%;
                display: block;
                top: 13px;
            }

/* /sidenav */
.page-list {
    list-style-type: none;
}

    .page-list a {
        display: none;
    }

    .page-list ul {
        padding: 0;
    }

        .page-list ul a {
            display: inline-block;
            padding: 7px 0;
            font-size: 20px;
            color: #222;
        }

.pagination {
    margin-top: 50px;
    justify-content: space-between;
}

    .pagination a {
        color: #00DFBF;
        font-size: 18px;
        font-weight: 500;
    }

    .pagination i {
        line-height: 1.6;
    }

.code-tabs {
    border: 1px solid #E2E2E2;
    overflow: hidden;
    margin-bottom: 20px;
}

    .code-tabs .nav-tabs {
        margin-bottom: 0;
    }

        .code-tabs .nav-tabs .nav-item {
            padding-left: 0;
            border-right: 1px solid #E2E2E2;
        }

            .code-tabs .nav-tabs .nav-item .nav-link {
                text-decoration: none;
                font-weight: 500;
                border: 0;
            }

            .code-tabs .nav-tabs .nav-item::before {
                display: none;
            }

            .code-tabs .nav-tabs .nav-item.active {
                background: #00DFBF;
            }

                .code-tabs .nav-tabs .nav-item.active .nav-link {
                    color: #fff;
                }

    .code-tabs .tab-content {
        padding: 20px 15px;
    }

pre {
    position: relative;
}

    pre .copy-to-clipboard {
        background: #00DFBF;
        color: #fff;
        cursor: pointer;
        padding: 4px 5px;
        line-height: 1;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

:not(pre) > code + span.copy-to-clipboard {
    display: none;
}

.autocomplete-suggestions {
    border: 0;
    border-radius: 0 0 6px 6px;
    box-shadow: 0px 50px 60px rgba(62, 62, 62, 0.102) !important;
    background: #fff;
}

    .autocomplete-suggestions .autocomplete-suggestion {
        transition: 0.2s ease;
        padding: 10px;
        font-weight: 500;
    }

        .autocomplete-suggestions .autocomplete-suggestion.selected {
            background: #00DFBF;
        }

.search-item a {
    color: #222;
    display: block;
}

    .search-item a:hover {
        color: #00DFBF;
    }

.search-item:not(:last-child) {
    border-bottom: 1px solid #E2E2E2;
}

.form-group label {
    font-size: 15px;
    font-weight: 500;
}

.form-group .form-control {
    height: 40px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #E2E2E2;
    border-radius: 0;
    padding: 10px 0;
}

    .form-group .form-control::-moz-placeholder {
        font-size: 13px;
        color: #999;
    }

    .form-group .form-control::placeholder {
        font-size: 13px;
        color: #999;
    }

    .form-group .form-control:focus {
        outline: 0;
        border-color: #00DFBF;
        box-shadow: none;
    }

.form-group .custom-select {
    font-size: 13px;
    color: #999;
}

.form-group textarea.form-control {
    height: 100px;
}

.badge {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 10px;
}

    .badge.added {
        background: #3778FF;
        color: #fff;
    }

    .badge.fixed {
        background: #F54773;
        color: #fff;
    }

    .badge.changed {
        background: #3AAA55;
        color: #fff;
    }

    .badge.depricated {
        background: #343434;
        color: #fff;
    }

    .badge.removed {
        background: #3bbfe4;
        color: #fff;
    }

    .badge.security {
        background: #F53535;
        color: #fff;
    }

    .badge.unreleased {
        background: #A037FF;
        color: #fff;
    }

.collapse-wrapper {
    padding: 5px 15px;
}

    .collapse-wrapper .collapse-head {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        font-weight: 500;
        align-items: center;
    }

:not(.highlight) pre {
    background: #FBFBFB;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: 500;
}

.content strong {
    font-weight: 600;
}

.content a {
    text-decoration: underline;
    color: #00DFBF;
}

.content ol,
.content ul {
    padding-left: 20px;
}

    .content ol li,
    .content ul li {
        margin-bottom: 10px;
    }

.content ul {
    padding-left: 0;
    margin-bottom: 20px;
}

    .content ul li {
        padding-left: 20px;
        position: relative;
    }

        .content ul li::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: #00DFBF;
            left: 3px;
            top: 8px;
        }

.content table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #EEEEEE;
}

    .content table td,
    .content table th {
        padding: 0.75rem;
        vertical-align: top;
        margin-bottom: 0;
    }

.content tr:not(:last-child) {
    border-bottom: 1px solid #EEEEEE;
}

.content th {
    font-weight: 500;
}

.content thead {
    background: #FBFBFB;
    margin-bottom: 0;
}

    .content thead tr {
        border-bottom: 1px solid #EEEEEE;
    }

.content tbody {
    background: #fff;
    margin-bottom: 0;
}

.content .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
}

    .content .notices p {
        padding: 10px;
        margin-bottom: 0;
    }

        .content .notices p::before {
            position: absolute;
            top: 2px;
            color: #fff;
            font-family: "themify";
            font-weight: 900;
            content: "\e717";
            left: 10px;
        }

    .content .notices.note p {
        border-top: 30px solid #6ab0de;
        background: #e7f2fa;
    }

        .content .notices.note p::after {
            content: "Note";
            position: absolute;
            top: 2px;
            color: #fff;
            left: 2rem;
        }

    .content .notices.tip p {
        border-top: 30px solid #78C578;
        background: #E6F9E6;
    }

        .content .notices.tip p::after {
            content: "Tip";
            position: absolute;
            top: 2px;
            color: #fff;
            left: 2rem;
        }

    .content .notices.info p {
        border-top: 30px solid #F0B37E;
        background: #FFF2DB;
    }

        .content .notices.info p::after {
            content: "Info";
            position: absolute;
            top: 2px;
            color: #fff;
            left: 2rem;
        }

    .content .notices.warning p {
        border-top: 30px solid #E06F6C;
        background: #FAE2E2;
    }

        .content .notices.warning p::after {
            content: "Warning";
            position: absolute;
            top: 2px;
            color: #fff;
            left: 2rem;
        }

.content blockquote {
    font-size: 20px !important;
    color: #222;
    padding: 20px 40px;
    border-left: 2px solid #00DFBF;
    margin: 40px 0;
    font-weight: bold;
    background: #FBFBFB;
}

    .content blockquote p {
        margin-bottom: 0 !important;
    }

.content pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
}

.content code {
    margin-bottom: 0 !important;
    font-size: 100%;
}

.ts-team-wrapper {
    position: relative;
    overflow: hidden;
}

    .ts-team-wrapper .ts-team-content {
        position: absolute;
        top: 76%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px 25px;
        margin-top: 0;
        color: gray;
        background: rgba(0, 0, 0, 0.5);
        transition: 350ms;
    }

@media (max-width: 1200px) {
    .ts-team-wrapper .ts-team-content {
        top: 72%;
    }
}

@media (max-width: 575px) {
    .ts-team-wrapper .ts-team-content {
        text-align: center;
    }
}

.ts-team-wrapper .ts-name {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 3px;
    line-height: normal;
    color: #375A64;
}

.ts-team-wrapper .ts-designation {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
}

.ts-team-wrapper .team-social-icons a i {
    color: gray;
    margin-right: 8px;
    text-align: center;
    transition: 400ms;
}

    .ts-team-wrapper .team-social-icons a i:hover {
        color: #375A64;
    }

.ts-team-wrapper:hover .ts-team-content {
    top: 0;
    padding-top: 50px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}

    .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block;
        padding-right: 0.5rem;
        color: #f7fafc;
        content: "/";
    }

    .breadcrumb-item + .breadcrumb-item:hover::before {
        text-decoration: underline;
    }

    .breadcrumb-item + .breadcrumb-item:hover::before {
        text-decoration: none;
    }

.breadcrumb-item.active {
    color: #f7fafc;
}

.wizard > .content > .body input.error {
    position: absolute;
    top: 100% !important;
}

.wizard {
    position: relative;
}

    .wizard > .steps {
        width: 100%;
        padding-left: 3%;
    }

@media (min-width: 1200px) {
    .wizard > .steps {
        width: 60%;
        margin-left: 3%;
    }
}

.wizard > .steps li.current a {
    background-color: #7571f9;
    color: #fff;
}

.wizard > .steps li.disabled a, .wizard > .steps li.done a {
    background-color: #fff;
    color: #333;
}

    .wizard > .steps li.disabled a:hover, .wizard > .steps li.done a:hover {
        margin: 0;
        background-color: #fff;
        border-radius: 0;
        color: #333;
    }

.wizard > .steps li a {
    text-align: center;
    margin: 0;
    border-radius: 0;
    background-color: #fff;
}

    .wizard > .steps li a:hover {
        margin: 0;
        background-color: #fff;
        border-radius: 0;
        color: #333;
    }

@media only screen and (max-width: 767px) {
    .wizard > .steps li a {
        padding: 1em 4px;
    }
}

.tag {
    position: absolute;
    background: #e86b00;
    color: #fff;
    letter-spacing: .2em;
    padding: 7px 20px;
    font-size: .8rem;
    font-weight: 900;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 2;
    -webkit-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
    -ms-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
    transform: rotate(-90deg) translateX(-100%) translateY(-70%);
}

.block-3 .owl-stage {
    padding-top: 40px;
    padding-bottom: 40px;
}

.block-3 .owl-nav .owl-prev, .block-3 .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
}

.block-3 .owl-nav .owl-prev {
    left: 0;
}

.block-3 .owl-nav .owl-next {
    right: 0;
}

.block-3 .owl-dots {
    text-align: center;
}

    .block-3 .owl-dots .owl-dot {
        display: inline-block;
    }

        .block-3 .owl-dots .owl-dot > span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin: 5px;
            background: #ccc;
        }

        .block-3 .owl-dots .owl-dot.active > span {
            background: #51eaea;
        }

.block-3 .product {
    border-right: none !important;
    border-left: none !important;
}

    .block-3 .product .item {
        border: 1px solid #eee;
    }

.block-4 {
    -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

    .block-4 .block-4-text h3 {
        font-size: 20px;
        margin-bottom: 0;
    }

        .block-4 .block-4-text h3 a {
            text-decoration: none;
        }

.block-5 ul, .block-5 ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

    .block-5 ul li {
        padding-left: 30px;
        position: relative;
        margin-bottom: 15px;
        color: #25262a;
    }

        .block-5 ul li:before {
            top: 0;
            font-family: "icomoon";
            content: "";
            position: absolute;
            left: 0;
            font-size: 20px;
            line-height: 1;
            color: #51eaea;
        }

        .block-5 ul li.address:before {
            content: "\e8b4";
        }

        .block-5 ul li.email:before {
            content: "\f0e0";
        }

        .block-5 ul li.phone:before {
            content: "\f095";
        }

.block-6 {
    display: block;
}

    .block-6 img {
        display: block;
    }

    .block-6 h3 {
        font-size: 18px;
    }

    .block-6 p {
        color: #737b8a;
    }

.block-7 .form-group {
    position: relative;
}

.block-7 .form-control {
    padding-right: 96px;
}

.block-7 .btn {
    position: absolute;
    width: 80px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3px;
}

.block-8 .post-meta {
    color: #c4c7ce;
}

.block-8 .block-8-sep {
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper {
    display: inline-block;
    height: 150px;
    width: 250px;
    padding: 5px;
    margin: 5px;
    background: lightgray;
}

    .wrapper img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

.profile-picture {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.services-picture {
    width: 450px;
    height: 350px
}

.shopcart-picture {
    width: 350px;
    height: 179px;
    object-fit: contain;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover
}

.product-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 6px;
}

.shop-picture {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.logo {
    width: 200px;
    height: 50px;
    object-fit: cover;
}

.btn-width {
    width: 120px;
}
/*# sourceMappingURL=style.css.map */
