@{
    ViewData["Title"] = "Services";
}
    <br/><br/>
    <section class="main-container our-team pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 >Our Services</h3>
                    <p > Duis aute irure dolor in reprehenderit in voluptate</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Front-end</h4>
                        <p class="text-muted"><code></code></p>
                        <div id="accordion-one" class="accordion">
                            <div class="card mb-1">
                                <div class="bg-secondary card-header">
                                    <h5 class="mb-0 text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa" aria-hidden="true"></i> Html</h5>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion-one">
                                    <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                                </div>
                            </div>
                            <div class="card mb-1">
                                <div class="bg-secondary card-header">
                                    <h5 class="mb-0 text-white collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa" aria-hidden="true"></i> CSS</h5>
                                </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion-one">
                                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="bg-secondary card-header">
                                <h5 class="mb-0 text-white collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fa" aria-hidden="true"></i> Java Script</h5>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion-one">
                                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3  d-lg-block d-none">
            <div class="card ">
                <div class="card-body " style="width:450px;height:388px">
                    <img class="ml-5 services-picture"  src="~/images/service/Newspaper1.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3 d-lg-block d-none">
            <div class="card ">
                <div class="card-body ">
                    <img class="services-picture"  src="~/images/service/Newspaper2.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Back-end</h4>
                    <p class="text-muted"><code></code></p>
                    <div id="accordion-two" class="accordion">
                        <div class="card mb-1">
                            <div class="card-header bg-secondary">
                                <h5 class="mb-0 text-white " data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1"><i class="fa" aria-hidden="true"></i>C#</h5>
                            </div>
                            <div id="collapseOne1" class="collapse show" data-parent="#accordion-two">
                                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-header bg-secondary">
                                <h5 class="mb-0 text-white  collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"><i class="fa" aria-hidden="true"></i>ASP.Net Core</h5>
                            </div>
                            <div id="collapseTwo2" class="collapse" data-parent="#accordion-two">
                                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-header bg-secondary">
                                <h5 class="mb-0 text-white  collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3"><i class="fa" aria-hidden="true"></i>Microsoft SQL Server</h5>
                            </div>
                            <div id="collapseThree3" class="collapse" data-parent="#accordion-two">
                                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>