@{
    ViewData["Title"] = "Team";
}
<br /><br />
<section   class="main-container our-team pb-4" >
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12" >
        <h3>Our Team</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quasi tempora obcaecati, quissimilique quos.</p>
      </div>
    </div>
    </div>
    <!--/ Title row end -->
</section>
<section id="main-container" class="main-container text-center pb-4 ">
    <div class="row justify-content-center mb-5 ">
      <div class="col-lg-4 col-md-6  ml-md-1 mb-5  col-sm-12">
        <div class="ts-team-wrapper card">
          <div class="team-img-wrapper">
            <img  src="~/images/user/Moamen.jpeg" class="img-fluid profile-picture mt-4 rounded" alt="team-img">
          </div>
          <div class="ts-team-content-classic card-body">
            <h3 class="ts-name">Moamen Mostafa</h3>
            <p class="ts-designation">Chief Operating Officer</p>
            <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
            <div class="team-social-icons">
              <a target="_blank" href="#"><i class="fab ti-facebook"></i></a>
              <a target="_blank" href="#"><i class="fab ti-twitter-alt"></i></a>
              <a target="_blank" href="#"><i class="fab ti-github"></i></a>        
            </div>
            <!--/ social-icons-->
          </div>
        </div>
        <!--/ Team wrapper 1 end -->

      </div><!-- Col end -->
     
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5  ">
        <div class="ts-team-wrapper card">
          <div class="team-img-wrapper">
            <img loading="lazy" src="~/images/user/Hazem.jpeg" class="img-fluid profile-picture mt-4 rounded" alt="team-img">
          </div>
          <div class="ts-team-content-classic card-body">
            <h3 class="ts-name">Mohamed Hazem</h3>
            <p class="ts-designation">Innovation Officer</p>
            <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
            <div class="team-social-icons">
              <a target="_blank" href="#"><i class="fab ti-facebook"></i></a>
              <a target="_blank" href="#"><i class="fab ti-twitter-alt"></i></a>
              <a target="_blank" href="#"><i class="fab ti-github"></i></a>              
            </div>
            <!--/ social-icons-->
          </div>
        </div>
        <!--/ Team wrapper 2 end -->
      </div><!-- Col end -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 ">
        <div class="ts-team-wrapper card">
          <div class="team-img-wrapper">
            <img loading="lazy" src="~/images/team/male_avatar.jpg" class="img-fluid profile-picture mt-4 rounded" alt="team-img">
          </div>
          <div class="ts-team-content-classic card-body">
            <h3 class="ts-name">Mark Conter</h3>
            <p class="ts-designation">Safety Officer</p>
            <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
            <div class="team-social-icons">
              <a target="_blank" href="#"><i class="fab ti-facebook"></i></a>
              <a target="_blank" href="#"><i class="fab ti-twitter-alt"></i></a>
              <a target="_blank" href="#"><i class="fab ti-github"></i></a>      
            </div>
            <!--/ social-icons-->
          </div>
        </div>
        <!--/ Team wrapper 3 end -->
      </div><!-- Col end -->
      
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5 ">
        <div class="ts-team-wrapper card">
          <div class="team-img-wrapper">
            <img loading="lazy" src="~/images/team/female_avatar.jpg" class="img-fluid profile-picture mt-4 rounded" alt="team-img">
          </div>
          <div class="ts-team-content-classic card-body">
            <h3 class="ts-name">AYESHA STEWART</h3>
            <p class="ts-designation">Finance Officer</p>
            <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
            <div class="team-social-icons">
              <a target="_blank" href="#"><i class="fab ti-facebook"></i></a>
              <a target="_blank" href="#"><i class="fab ti-twitter-alt"></i></a>
              <a target="_blank" href="#"><i class="fab ti-github"></i></a>      
            </div>
            <!--/ social-icons-->
          </div>
        </div>
        <!--/ Team wrapper 4 end -->

      </div><!-- Col end -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ts-team-wrapper card">
          <div class="team-img-wrapper">
            <img loading="lazy" src="~/images/team/male_avatar.jpg" class="img-fluid profile-picture mt-4 rounded" alt="team-img">
          </div>
          <div class="ts-team-content-classic card-body">
            <h3 class="ts-name">Dave Clarkte</h3>
            <p class="ts-designation">Civil Engineer</p>
            <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
            <div class="team-social-icons">
              <a target="_blank" href="#"><i class="fab ti-facebook"></i></a>
              <a target="_blank" href="#"><i class="fab ti-twitter-alt"></i></a>
              <a target="_blank" href="#"><i class="fab ti-github"></i></a>      
            </div>
            <!--/ social-icons-->
          </div>
        </div>
        <!--/ Team wrapper 5 end -->
      </div><!-- Col end -->
      </div>
    <!-- Content row end -->
<!-- Container end -->
  
</section><!-- Main container end -->
