<form class="search-wrapper" asp-controller="Search" asp-action="Index">
    <input id="search-by" name="s" type="search" class="form-control form-control-lg"
           placeholder="Search Here...">
    <button type="submit" class="btn btn-primary">Search</button>
</form>