@{
    ViewData["Title"] = "Home Page";
}
<!-- banner -->
<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 text-center text-lg-left">
                <h1 class="mb-4" style="color:#375A64;">Medicines are the cure of everything</h1>
                <p class="mb-4" >  Search for your Medicine  here to get it ASAP </p>
        <form class="search-wrapper" asp-controller="Search" asp-action="Index">
          <input id="search-by" name="s" type="search" class="form-control form-control-lg"
            placeholder="Search Here...">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <div class="col-lg-5 d-lg-block d-none">
        <img src="images/newbanner.png" alt="illustration" class="img-fluid rotate_back-animation">
      </div>
            <div class="col-lg-12 d-lg-block d-none">
                <img src="images/banner3.png" alt="illustration">
            </div>
    </div>
  </div>
</section>
<!-- /banner -->

