@model Product

<form method="post">
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Create New Product</h2>
    
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>         
    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
     }
}