@using PharmacyWebApp.Models
@model Product

<form method="post" asp-action="Edit" enctype="multipart/form-data">
	<input asp-for="Id" hidden />
	
	<div class="row col-12">
		<div class="col-6">
			<div class="border p-3 mt-4 row">
				<div class="col-12 pb-2">
					<h2 class="text-primary">Update  Product</h2>
					<hr />
				</div>
				<div asp-validation-summary="All"></div>
				<div class="mb-3">
					<label asp-for="Name"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Description"></label>
					<textarea asp-for="Description" rows="3" class="form-control"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>				
				<div class="mb-3 col-6">
					<label asp-for="ListPrice"></label>
					<input asp-for="ListPrice" class="form-control" />
					<span asp-validation-for="ListPrice" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Price"></label>
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>				
				<div class="mb-3 col-6">
					<label asp-for="CategoryId"></label>
					@*<select asp-for="CategoryId" asp-items="@Model.CategoriesList" class="form-select">*@
						<option disabled selected>--Select Category--</option>
					</select>
					<span asp-validation-for="CategoryId" class="text-danger"></span>
				</div>

				<div class="mb-3 col-6">
					<label asp-for="BrandId"></label>
					@*<select asp-for="BrandId" asp-items="@Model.BrandsList" class="form-select">*@
						<option disabled selected>--Select Brand--</option>
					</select>
					<span asp-validation-for="BrandId" class="text-danger"></span>
				</div>


				<div class="col-12">			
						<button type="submit" class="btn btn-primary" style="width:150px">Update</button>			
					<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
						Back
					</a>
				</div>

			</div>
		</div>		
		<div class="col-6">
            <div class="form-group">
                <label asp-for="ProductPicture" class="w-100"></label>
                @if (Model.ProductPicture != null)
                {
                    <img id="ProductPicture" alt="profile" class="ProfilePicture" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProductPicture))" />
                }
                else
                {
                    <img id="ProductPicture" alt="profile" class="ProfilePicture" src="~/images/Medicalll.png" />
                }
                <div class="custom-file mt-2">
                    <input type="file"
                           accept="image/*"
                           asp-for="ProductPicture"
                           class="custom-file-input"
                           onchange="document.getElementById('ProductPicture').src = window.URL.createObjectURL(this.files[0])" />
                    <label class="custom-file-label" asp-for="ProductPicture">Choose picture...</label>
                    <span asp-validation-for="ProductPicture" class="text-danger"></span>
                </div>
            </div>
        </div>
	</div>
</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
   });
  
	function ValidateInput(){
		if(document.getElementById("uploadBox").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Oops...',
			  text: 'Please upload an Image!',
			});
			return false;
		}
		return true;
	}
</script>
}