@{
    ViewData["Title"] = "About";
}
@*
<!-- details page -->
<section class="pt-5">
  <div class="container shadow section-sm rounded">
    <div class="row">
      <!-- sidebar -->
      <div class="col-lg-3">
        <ul class="sidenav">
          <li title="Basic Startup" class="sidelist parent active">
            <a href="list.html">Basic Startup</a>
            <ul>
              <li class="sidelist">
                <a href="single.html">Elements</a>
              <li class="sidelist">
                <a href="single.html">Installation</a>
              <li class="sidelist">
                <a href="single.html">Configuration</a>
              <li class="sidelist">
                <a href="single.html">Customization</a>
              <li class="sidelist">
                <a href="single.html">Requerments</a>
              </li>
            </ul>
          </li>
          <li class="sidelist">
            <a href="list.html">Account Bill</a>
            <ul>
              <li class="sidelist">
                <a href="single.html">Linux</a>
              <li class="sidelist">
                <a href="single.html">Mac OS</a>
              <li class="sidelist">
                <a href="single.html">Routing</a>
              <li class="sidelist">
                <a href="single.html">Ubuntu</a>
              <li class="sidelist">
                <a href="single.html">Windows</a>
            </ul>
          </li>
          <li class="sidelist">
            <a href="list.html">Our Features</a>
            <ul>
              <li class="sidelist">
                <a href="single.html">Linux</a>
              <li class="sidelist">
                <a href="single.html">Mac OS</a>
              <li class="sidelist">
                <a href="single.html">Routing</a>
              <li class="sidelist">
                <a href="single.html">Ubuntu</a>
              <li class="sidelist">
                <a href="single.html">Windows</a>
            </ul>
          </li>
          <li class="sidelist">
            <a href="list.html">Theme Facility</a>
            <ul>
              <li class="sidelist">
                <a href="single.html">Linux</a>
              <li class="sidelist">
                <a href="single.html">Mac OS</a>
              <li class="sidelist">
                <a href="single.html">Routing</a>
              <li class="sidelist">
                <a href="single.html">Ubuntu</a>
              <li class="sidelist">
                <a href="single.html">Windows</a>
            </ul>
          </li>
        </ul>
      </div>

      <!-- body -->
      <div class="col-lg-8">
        <div class="px-lg-5 px-4">
          <h2 class="mb-4 font-weight-medium">Basic Startup</h2> <!-- main content -->
          <div class="content">
            <p><img src="images/getting-started.jpg" width="500px" alt="image"></p>
            <p>Most of the documentation site are looks identical. Thats why we take an initiative to make something
              different and bring some new concept with minimal design. Meet Godocs , a documentation and knowledge
              based website template. It can be used for software, API, frameworks, plugins and templates online
              documentation website building.</p>
          </div>
          <!-- navigation -->
          <nav class="pagination">
            <a class="nav nav-prev" href="https://examplesite.com/"><i class="ti-arrow-left mr-2"></i>
              <span class="d-none d-md-block">Hugo documentation theme</span></a>
            <a class="nav nav-next" href="https://examplesite.com/basic-startup/requirments/"> <span
                class="d-none d-md-block">Requirments</span><i class="ti-arrow-right ml-2"></i></a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->
*@

 <br /> <br />
 <div class="container card"
          <section id="about-us" class="about-us-section-1">
        <div class="container  p-5">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                            <h3>About Us</h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                        </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <div class="welcome-section text-center">
                        <img src="images/undraw_Books_re_8gea.png" class="img-responsive " alt="..">
                        <h4>Our Story</h4>
                        <div class="border"></div>
                        <p>Duis aute irure dolor in reprehen derit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Lorem reprehenderit</p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="welcome-section text-center">
                        <img src="images/undraw_Appreciation_vmef.png" class="img-responsive " alt="..">
                        <h4>Mission</h4>
                        <div class="border"></div>
                        <p>Duis aute irure dolor in reprehen derit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Lorem reprehenderit</p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="welcome-section text-center">
                        <img src="images/undraw_startup_life_re_8ow9.svg"  class="img-responsive" alt="..">
                        <h4>Vision</h4>
                        <div class="border"></div>
                        <p>Duis aute irure dolor in reprehen derit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Lorem reprehenderit</p>
                    </div>
                </div>
                
            </div><!-- /.row -->            
            
        </div><!-- /.container -->
    </section>
    <!-- End About Us Section -->

    <br /> <br />
    <!-- Start About Us Section 2 -->
    <div class="about-us-section-2">
        <div class="container  p-2">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="">
                        
                        <div class="col-md-12">
                        <div class="">
                            <div class="card-body">
                                
                                <h5 class="mt-3">Web Design <span class="float-right">85%</span></h5>
                                <div class="progress" style="height: 9px">
                                    <div class="progress-bar bg-aqwa wow  progress-" style="width: 85%;" role="progressbar"><span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                                <h5 class="mt-3">HTML <span class="float-right">90%</span></h5>
                                <div class="progress" style="height: 9px">
                                    <div class="progress-bar bg-naqwa wow  progress-" style="width: 90%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                                <h5 class="mt-3">CSS <span class="float-right">75%</span></h5>
                                <div class="progress" style="height: 9px">
                                    <div class="progress-bar bg-aqwa wow  progress-" style="width: 75%;" role="progressbar"><span class="sr-only">85% Complete</span>
                                    </div>
                                </div>
                                <h5 class="mt-3">ASP.NET <span class="float-right">85%</span></h5>
                                <div class="progress" style="height: 9px">
                                    <div class="progress-bar bg-naqwa wow  progress-" style="width: 85%;" role="progressbar"><span class="sr-only">85% Complete</span>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>                                    
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div id="carousel-example-generic" class="carousel slide about-slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="images/about-01.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/about-02.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/about-03.jpg" alt="">
                            </div>
    
                        </div>
  
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Start About Us Section 2 -->
    </div>