
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewData["Title"] - PharmacyWebApp</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins-admin/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins-admin/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins-admin/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="./plugins-admin/highlightjs/styles/darkula.css">
    <!-- Custom Stylesheet -->
    <link href="css/style2.css" rel="stylesheet">

</head>
<body>
    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
   

    <script src="plugins-admin/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>
    <!-- Chartjs -->
    <script src="./plugins-admin/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins-admin/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins-admin/d3v3/index.js"></script>
    <script src="./plugins-admin/topojson/topojson.min.js"></script>
    <script src="./plugins-admin/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins-admin/raphael/raphael.min.js"></script>
    <script src="./plugins-admin/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins-admin/moment/moment.min.js"></script>
    <script src="./plugins-admin/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins-admin/chartist/js/chartist.min.js"></script>
    <script src="./plugins-admin/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
    <script src="./js/dashboard/dashboard-1.js"></script>    
    <script src="./plugins-admin/highlightjs/highlight.pack.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
